{% extends 'bootstrap/base.html' %}

{% block titlepage %}
    Hola
{% endblock %}

{% block body %}
    <div class="jumbotron" style="display: flex;justify-content: space-around;align-items: center;">

        <h1>Bienvenido {{nombre}}</h1>
        <button class="btn btn-success" style="height: 50px;">Probando Bootstrap!</button>
    

    </div>

    <div>
        <table>
            {% for alumno in l_alumnos %}
            <tr>
                <th>{{alumno}}</th>
            </tr>
            {% endfor %}
            <tr>
                <td>

                </td>
            </tr>
        </table>
    </div>

    {% endblock %}



<!-- BRYAN ACOSTA  -->