{% extends 'bootstrap/base.html' %}

{% block titlepage %}
    Hola
{% endblock %}

{% block body %}
    <div class="jumbotron" style="display: flex;justify-content: space-around;align-items: center;">

        <h1>Bienvenido {{nombre}}</h1>
        <button class="btn btn-success" style="height: 50px;">Probando Bootstrap!</button>
    

    </div>

    <div style="display: flex;justify-content: center;flex-wrap: wrap;">
        <h2>Alumnos registrados</h2>
        <table style="margin: 5px;width: 80%;" class="table table-dark">
            
            <tr>
                <th scope="col">NOMBRES</th>
                <th scope="col">APELLIDOS</th>
            </tr>
           
            {% for alumno in l_alumnos %}
            <tr>
                <td>{{alumno[1]}}</td>
                <td>{{alumno[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endblock %}



<!-- BRYAN ACOSTA  -->